*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f7fc;
}


.container{
    width:90%;
    margin:auto;
    padding:40px 0;
}


.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}


.add-btn,
.back-btn{

    text-decoration:none;
    background:black;
    color:white;

    padding:12px 22px;
    border-radius:8px;
}


.cards{

    display:flex;
    gap:25px;
    margin-bottom:40px;
}


.card{

    flex:1;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.card h3{
    margin-bottom:10px;
    color:gray;
}


.income h2{
    color:green;
}


.expense h2{
    color:red;
}


.balance h2{
    color:blue;
}


.table-box{

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


table{

    width:100%;
    border-collapse:collapse;
}


th,td{

    padding:18px;
    text-align:left;
}


th{

    background:black;
    color:white;
}


tr:nth-child(even){

    background:#f7f7f7;
}


.form-container{

    width:450px;

    margin:100px auto;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 5px 25px rgba(0,0,0,0.08);
}


form{

    display:flex;
    flex-direction:column;
    gap:20px;
}


input,
select,
button{

    padding:15px;

    border-radius:10px;

    border:1px solid #ddd;

    font-size:16px;
}


button{

    background:black;

    color:white;

    border:none;

    cursor:pointer;
}